.container
  %h1 StaticPages#landing_page
  %p Find me in app/views/static_pages/landing_page.html.erb
  
  = link_to privacy_policy_path, class:"btn btn-primary" do
    %i.far.fa-file
    Privacy Policy

  = link_to houses_path, class:"btn btn-danger" do
    %i.fas.fa-hotel
    Houses
