<div class="container">
  <h1>StaticPages#privacy_policy</h1>
  <p>Find me in app/views/static_pages/privacy_policy.html.erb</p>

  <%= link_to root_path, class:"btn btn-success" do%>
    <i class="fas fa-home"></i>
    Home
  <%end%>
</div>